.header{
	position: fixed;
	width: 100%;
	height: 100%;
	top:0;
	left:0;
	pointer-events: none;
	z-index: 1;
	&-bar{
		// width: 100%;
		
		&__content{
			position: relative;
			max-width: 1242px;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 1.5rem 2rem;
			margin: 0 auto;
			&--logo{
				width: 50px;
				height: 50px;
				pointer-events: initial;
				img{
					width: 100%;
					height: auto;
					object-fit: cover;
				}
			}
			.list-social{
				position: absolute;
				top:100px;
				right: 0;
				pointer-events: initial;
				margin-right: 1.2rem;
				width: 50px;
				text-align: center;
				padding: 0;
				li{
					margin: 1em 0.5em;
					a{
						.fab{
							color:#fff;
							font-size: 18px;
						}
					}
				}
			}
			#addMenu{
				pointer-events: initial;
				background-color: transparent;
				border: none;
				outline: none;
				.fa-bars{
				font-size: 24px;
				color: #fff;
				}
			}
		}
	}
	nav{
		pointer-events: none;
		position: fixed;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
		.navigation-container{
			width: 33%;
			height: 100%;
			background-color: rgb(0, 0, 0);
			position: absolute;
			right: 0%;
			top:0;
			overflow: hidden;
			display: flex;
			flex-direction: column;
			transform: translateX(100%);
			pointer-events: initial;
			transition:transform 0.2s;
			z-index: 99;
			.top{
				flex-shrink: 0;
				padding: 2rem;
				display: flex;
				justify-content: space-between;
				a{
					width: 180px;
					img{
						width: 100%;
					}
				}
			}
			.scroller{
				flex-shrink: 1;
				flex-basis: 100%;
				margin-right: 2rem;
				padding: 2rem;
				overflow: auto;
				ul{
					text-transform: uppercase;
					li{
						margin-bottom: 1.5rem;
						.menu-item__link{
							font-size: 18px;
							color:#fff;
							font-weight: 700;
							display: flex;
							align-items: center;
							.fa-chevron-right{
								margin-left: 1rem;
								font-size: 10px;
								transition: transform 0.2s;
							}
							.fa-chevron-right.active{
								transform: rotate(-90deg);
							}
						}
						.dropdown.active{
							display: block;
							
						}
						.dropdown{
							margin-left: 1rem;
							padding-top: 1rem;
							display: none;
								font-size: 14px;
								li{
									margin-bottom: 1.5rem;
									
									.item{
											font-weight: 600;		
										text-transform: uppercase;
										color: #c4c4c4,;
									}
								}
							
						}
					}
				}
			}
			.bottom{
				padding: 2rem;
				flex-shrink: 0;
				.list-social__scroll{
					
					li{
						display: inline-block;
						margin-right: 1em;
						.fab{
							font-size: 18px;
						}
					}
				}
				.user-menu{
					text-align: left;
					li{
					margin-top: 2rem;
					a, span{
						text-transform: uppercase;
						font-size: 16px;
						color: #fff;
						font-weight: 600;
					}
					span{
						margin: 0 .5rem;
					}
					.sign-in{
						padding: .35rem 1rem;
						border: 1px solid #fff;
					}
					}
				}
			}
			#removeMenu{
				background-color: transparent;
				outline: none;
				border: none;
				position: absolute;
				top:37px;
				right: 36px;
				i{
					font-size: 28px;
					color: #fff;
				}
			}
		}
		.navigation-container.active{
			transform: translateX(0%);
			transition: 0.4s;
		}
	}
}

@media screen and (max-width:1100px){
	.header-bar{
background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(10px);
	.header-bar__content{
		padding: 0.5rem 1rem;
		.list-social{
			position: unset;
			display: flex;
			margin: 0;
			height: 100%;
			width:unset;
			align-items: center;
			justify-content: center;
			top:0;
			left:0;
			right:0;
			li{
				margin: 1em;
			}
		}
	}
}
}
@media screen and (max-width:532px){
	.header-bar{
		.header-bar__content{
			.list-social{
				display: none;
			}
			&--logo{
				width: 35px;
				height: 35px;
			}
		}
	}
}